body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #4AB1FF;
    display: block;
    padding: 0 10px;
    box-sizing: border-box;
}

.wrapper {
    max-width: 405px;
    padding: 28px 0 30px;
    margin: 137px auto;
    border-radius: 7px;
}

.wrap {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 20px 10px 25px;
}

#input {
    width: 70%;
}

#btn {
    width: 15%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.li {
    background: #eddfff;
    max-width: 405px;
    padding: 20px 0 15px;
    margin: 10px auto;
    position:relative;
}

.liLine {
    text-decoration: line-through;
}